
## PART: System File
.DS_Store
__pycache__


## PART: Temporal File Generated
verilog/
verilog_original/
verilog_taint/
temp/
target/
target.tmp/
*.jgproject
/my_db/
/my_design


## PART: Local File
/scripts/rsync/server.py

