
## PART: System File
.DS_Store
__pycache__
/sublime.sublime-workspace


## PART: Temporal File Generated
verilog/
verilog_original/
verilog_taint/
temp/
target/
target.tmp/
*.jgproject


## PART: Local File
/scripts/rsync/server.py

